<h1>Interpolation</h1>

<app-mon-composant></app-mon-composant>

<h1>Propriete binding</h1>

<app-mon-composant2></app-mon-composant2>

<p>Le binding de propriété Ce binding permet d'injecter une variable dans une
    propriété HTML. Pour cela, tu peux utiliser le signe [].
</p>

<h1>Le binding d'événements</h1>

<app-mon-composant3></app-mon-composant3>

<p>Ce binding permet de passer de l'information du HTML vers le TS. Pour cela,
    tu peux utiliser le signe (). Tu vas ainsi pouvoir écouter les événements de ton
    utilisateur, comme par exemple le clic de la souris, ou encore la frappe sur le
    clavier.
</p>

<h1>Le binding two-way</h1>

<app-mon-composant4></app-mon-composant4>
<p>
  Ce binding permet de passer de l'information du HTML vers le TS. Pour cela, tu peux utiliser le signe [()].
  Tu vas ainsi pouvoir écouter les événements de ton utilisateur et mettre à jour directement l'information dans le composant et le template HTML.  
</p>

<h1>Challenge</h1>

<div class='container '>
<app-user-profile></app-user-profile>
</div>
